<section class="section-item">
    <img class="img-responsive" src="img/about-me/about-me.jpg">

    <form name="form" class="container">

        <div class="text-item-edit-col animate-hide" ng-hide="!form.$dirty">
            <button type="button" class="btn btn-default btn-circle btn-xl"
                    ng-click="undo()"
                    popover-placement="top-right"
                    uib-popover="Successfully undo!"
                    popover-is-open="hasSuccessfullyUndo">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default btn-circle btn-xl"
                    ng-click="save()"
                    popover-placement="top-right"
                    uib-popover="Successfully saved!"
                    popover-is-open="hasSuccessfullySaved">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>

        <div class="text-item-add-col">
            <button type="button" class="btn btn-default btn-circle btn-xl"
                    ng-click="addTextItem()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>


        <div class="row">

            <div ng-repeat="text in model.textItems track by $index"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 ng-class="{ 'col-sm-12'   : model.text.length <= 1,
                          'col-sm-6'   : model.textItems.length === 2,
                          'col-sm-4'   : model.textItems.length === 3,
                          'col-sm-3'   : model.textItems.length === 4}">

                <div class="text-item-inner">

                    <div class="text-item-edit-bar">

                        <button type="button" class="btn btn-default btn-circle"
                                ng-show="model.textItems[$index].icon != ''"
                                ng-click="model.textItems[$index].icon = ''">
                            <i ng-class="model.textItems[$index].icon" aria-hidden="true"></i>
                        </button>

                        <span class="animate-hide" ng-show="showEditButtons[$index]" uib-dropdown>
                            <button type="button" class="btn btn-default btn-circle"
                                    ng-click="addIcon($index)"
                                    uib-dropdown-toggle
                                    ng-show="model.textItems[$index].icon == ''">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </button>

                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li ng-click="takeTextItemIcon(model.textItems[$index], 'fa fa-arrow-up')"
                                    role="menuitem">
                                    <a><i
                                            class="fa fa-arrow-up"></i></a></li>
                                <li ng-click="takeTextItemIcon(model.textItems[$index], 'fa fa-arrow-up')"
                                    role="menuitem">
                                    <a><i
                                            class="fa fa-arrow-up"></i></a></li>
                                <li ng-click="takeTextItemIcon(model.textItems[$index], 'fa fa-arrow-up')"
                                    role="menuitem">
                                    <a><i
                                            class="fa fa-arrow-up"></i></a></li>
                            </ul>

                            <button type="button" class="btn btn-default btn-circle pull-right"
                                    ng-click="removeTextItem($index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div contenteditable class="text-item-text" ng-model="model.textItems[$index].text">

                    </div>
                </div>
            </div>

        </div>

    </form>


</section>