<section class="section-item">
    <div class="image-edit">
        <img class="img-responsive" ng-src="{{ViewModel.model.sections.aboutMe.image}}" alt="">
        <div class="info">
            <file-upload ng-model="files"
                         on-success="onImageUploadSuccess(response, ViewModel.model.sections.aboutMe)"
                         on-progress="onImageUploadProgress(event)"
                         class="">Drop
                or select the File
            </file-upload>
            <uib-progressbar class="animate-hide progress" ng-show="fileUploadValue" value="fileUploadValue"
                             type="success"><b>{{fileUploadValue}}%</b>
            </uib-progressbar>
        </div>
    </div>
    z
    <form name="form" class="container">

        <div class="text-item-edit-col animate-hide">
            <button type="button" class="btn btn-default btn-circle btn-xl"
                    ng-click="addTextItem(ViewModel.model.sections.aboutMe)">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="row">

            <div ng-repeat="text in ViewModel.model.sections.aboutMe.textItemsOverview track by $index"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 ng-class="{ 'col-sm-12'   : ViewModel.model.sections.aboutMe.textItemsOverview.length <= 1,
                          'col-sm-6'   : ViewModel.model.sections.aboutMe.textItemsOverview.length === 2,
                          'col-sm-4'   : ViewModel.model.sections.aboutMe.textItemsOverview.length === 3,
                          'col-sm-3'   : ViewModel.model.sections.aboutMe.textItemsOverview.length === 4}">

                <div class="text-item-inner">

                    <div class="text-item-edit-bar">

                        <span uib-dropdown ng-if="$index == 0">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="addIcon($index)"
                                    uib-dropdown-toggle>
                                <i ng-class="(ViewModel.model.sections.aboutMe.icon || 'fa fa-file-image-o')"
                                   aria-hidden="true"></i>
                            </button>

                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li ng-click="changeIcon(ViewModel.sections.aboutMe, 'fa fa-arrow-up')"
                                    role="menuitem">
                                    <a><i class="fa fa-arrow-up"></i></a></li>
                            </ul>
                        </span>

                        <span class="animate-hide" ng-show="showEditButtons[$index]" uib-dropdown>
                            <button type="button" class="btn btn-default btn-circle btn-xl pull-right"
                                    ng-click="removeItem(ViewModel.model.sections.aboutMe, $index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div class="text-item-text">
                        <span class="text-item-editable-text" contenteditable
                              ng-model="ViewModel.model.sections.aboutMe.textItemsOverview[$index].text">
                        </span>
                        <a href=""
                           ng-hide="ViewModel.model.sections.aboutMe.textItemsOverview[$index].text == ''"
                           ng-click="openMore(ViewModel.model.sections.aboutMe, $index)">
                            mehr erfahren!
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </form>

</section>