<header id="landing" class="section-item">

    <image-upload class="img-landing" ng-model="ViewModel.model.landing.image"
                  on-success="onImageUploadSuccess(response)"
                  options="{uploadImageCaption: config.uploadImageCaption, uploadUrl: config.imageUploadUrl, progressBarTimeToDismiss: config.toolTipTimeToDismiss}">
    </image-upload>

    <form name="form" class="container">
        <div class="row">
            <div ng-repeat="(key, item) in ViewModel.model"
                 ng-if="navigationSections.indexOf(key)>=0"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 class="col-sm-3 landing-item">
                <div class="landing-item-inner">

                    <div class="text-item-edit-bar">
                        <span class="animate-hide pull-right" ng-show="showEditButtons[$index]">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="showToolBar[$index] = !showToolBar[$index]">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>

                    <div class="landing-item-icon-wrapper">
                        <section-button class="landing-item-icon-btn"
                                        icon-size="4"
                                        ng-model="item.icon"></section-button>
                    </div>

                    <rich-text-editor
                            ng-model="item.textLanding"
                            show-toolbar="{{showToolBar[$index]}}">
                    </rich-text-editor>
                </div>
            </div>
        </div>
    </form>
</header>