<section class="section-item"
         ng-form="form"
         ng-mouseenter="showAddButton=true"
         ng-mouseleave="showAddButton=false">

    <div class="image-wrapper">
        <image-upload class="img-responsive" ng-model="ViewModel.model.mySurgery.image.src"
                      on-success="onImageUploadSuccess(response)"
                      options="{uploadImageCaption: config.uploadImageCaption, uploadUrl: config.imageUploadUrl, progressBarTimeToDismiss: config.toolTipTimeToDismiss}">
            <div class="form-group">
                <label for="title">Titel</label>
                <input type="text" class="form-control" id="title" placeholder="Titel"
                       ng-model="ViewModel.model.mySurgery.image.title">
            </div>
            <div class="form-group">
                <label for="alt">Beschreibung</label>
                <input type="text" class="form-control" id="alt" placeholder="Beschreibung"
                       ng-model="ViewModel.model.mySurgery.image.alt">
            </div>
        </image-upload>
    </div>

    <div class="box-wrapper-secound-last">
        <div class="text-item-add animate-hide"
             ng-show="showAddButton">
            <button type="button" class="btn btn-default btn-circle btn-xl"
                    ng-click="addTextItem(ViewModel.model.mySurgery)">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="row text-item-container">
            <div ng-repeat="text in ViewModel.model.mySurgery.texts track by $index"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 ng-blur="showEditButtons[$index]=true"
                 ng-class="{ 'col-sm-12'   : ViewModel.model.mySurgery.texts.length+1 <= 1,
                          'col-sm-6'   : ViewModel.model.mySurgery.texts.length+1 === 2,
                          'col-sm-4'   : ViewModel.model.mySurgery.texts.length+1 === 3,
                          'col-sm-3'   : ViewModel.model.mySurgery.texts.length+1 === 4}"
                 class="text-item">

                <div class="text-item-inner">
                    <div class="text-item-edit-bar">
                        <section-button class="btn btn-default btn-circle btn-xl"
                                        ng-if="$index == 0"
                                        ng-model="ViewModel.model.mySurgery.icon"></section-button>
                        <span class="animate-hide pull-right" ng-show="showEditButtons[$index]">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="showToolBar[$index] = !showToolBar[$index]">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-circle btn-xl"
                                    ng-click="removeItem(ViewModel.model.mySurgery, $index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div class="text-item-text">
                        <rich-text-editor
                                ng-model="ViewModel.model.mySurgery.texts[$index].overview.text"
                                show-tool-bar="showToolBar[$index]">
                            <open-more show="ViewModel.model.mySurgery.texts[$index].detail.show"
                                       ng-model="ViewModel.model.mySurgery.texts[$index].detail.text">
                                mehr erfahren!
                            </open-more>
                        </rich-text-editor>
                    </div>
                </div>
            </div>

            <div ng-mouseenter="showEditButtonsLocation=true"
                 ng-mouseleave="showEditButtonsLocation=false"
                 ng-blur="showEditButtons[$index]=true"
                 ng-class="{ 'col-sm-12'   : ViewModel.model.mySurgery.texts.length+1 <= 1,
                          'col-sm-6'   : ViewModel.model.mySurgery.texts.length+1 === 2,
                          'col-sm-4'   : ViewModel.model.mySurgery.texts.length+1 === 3,
                          'col-sm-3'   : ViewModel.model.mySurgery.texts.length+1 === 4}"
                 class="text-item">
                <div class="text-item-inner">
                    <div class="text-item-edit-bar">
                        <section-button class="btn btn-default btn-circle btn-xl"
                                        ng-model="ViewModel.model.location.icon"></section-button>
                        <span class="animate-hide pull-right" ng-show="showEditButtonsLocation">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="showToolBarLocation = !showToolBarLocation">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div class="text-item-text">
                        <rich-text-editor
                                ng-model="ViewModel.model.location.text"
                                show-tool-bar="showToolBarLocation">
                        </rich-text-editor>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>