<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" ng-submit="login(model.username, model.password)">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" class="form-control" placeholder="Username" ng-model="model.username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" ng-model="model.password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"> Login
            </button>
        </form>
    </div>
</div>