<section class="section-item"
         ng-mouseenter="showAddButton=true"
         ng-mouseleave="showAddButton=false">

    <div class="row">
        <image-upload class="img-responsive" ng-model="ViewModel.model.mySurgery.image"
                      on-success="onImageUploadSuccess(response)"
                      options="{uploadImageCaption: config.uploadImageCaption, uploadUrl: config.imageUploadUrl, progressBarTimeToDismiss: config.toolTipTimeToDismiss}">
    </div>

    <form name="form" class="container">
        <div class="text-item-add animate-hide"
             ng-show="showAddButton">
            <button type="button" class="btn btn-default btn-circle btn-xl"
                    ng-click="addTextItem(ViewModel.model.mySurgery)">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="row">
            <div ng-repeat="text in ViewModel.model.mySurgery.texts track by $index"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 ng-blur="showEditButtons[$index]=true"
                 ng-class="{ 'col-sm-12'   : ViewModel.model.mySurgery.texts.length+1 <= 1,
                          'col-sm-6'   : ViewModel.model.mySurgery.texts.length+1 === 2,
                          'col-sm-4'   : ViewModel.model.mySurgery.texts.length+1 === 3,
                          'col-sm-3'   : ViewModel.model.mySurgery.texts.length+1 === 4}">

                <div class="text-item-inner">
                    <div class="text-item-edit-bar">
                        <section-button class="btn btn-default btn-circle btn-xl"
                                        ng-if="$index == 0"
                                        ng-model="ViewModel.model.mySurgery.icon"></section-button>
                        <span class="animate-hide pull-right" ng-show="showEditButtons[$index]">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="showToolBar[$index] = !showToolBar[$index]">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-circle btn-xl"
                                    ng-click="removeItem(ViewModel.model.mySurgery, $index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div class="text-item-text">
                        <rich-text-editor
                                ng-model="ViewModel.model.mySurgery.texts[$index].overview"
                                show-toolbar="{{showToolBar[$index]}}">
                        </rich-text-editor>
                        <a href=""
                           ng-hide="ViewModel.model.mySurgery.texts[$index].overview == ''"
                           ng-click="openMore(ViewModel.model.mySurgery.texts[$index])">
                            mehr erfahren!
                        </a>
                    </div>
                </div>
            </div>

            <div ng-mouseenter="showEditButtonsLocation=true"
                 ng-mouseleave="showEditButtonsLocation=false"
                 ng-blur="showEditButtons[$index]=true"
                 ng-class="{ 'col-sm-12'   : ViewModel.model.mySurgery.texts.length+1 <= 1,
                          'col-sm-6'   : ViewModel.model.mySurgery.texts.length+1 === 2,
                          'col-sm-4'   : ViewModel.model.mySurgery.texts.length+1 === 3,
                          'col-sm-3'   : ViewModel.model.mySurgery.texts.length+1 === 4}">
                <div class="text-item-inner">
                    <div class="text-item-edit-bar">
                        <section-button class="btn btn-default btn-circle btn-xl"
                                        ng-model="ViewModel.model.location.icon"></section-button>
                        <span class="animate-hide pull-right" ng-show="showEditButtonsLocation">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="showToolBarLocation = !showToolBarLocation">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div class="text-item-text">
                        <rich-text-editor
                                ng-model="ViewModel.model.location.text"
                                show-toolbar="{{showToolBarLocation}}">
                        </rich-text-editor>
                    </div>
                </div>
            </div>

        </div>

    </form>

</section>