<section class="section-item">
    <div class="image-wrapper">
        <div id="myWork" class="img-center-anchor"></div>
        <div id="myWorkCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for image in data.myWork.images %}
                <div class="{{ loop.index == 1 ? 'item active' : 'item' }}">
                    <img class="img-responsive"
                         src="{{ image.src }}"
                         title="{{ image.title }}"
                         alt="{{ image.alt }}">
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#myWorkCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myWorkCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="box-wrapper">
        <div class="row text-item-container">
            {% for textItem in data.myWork.texts %}
            <div class="text-item col-sm-{{12/(data.myWork.texts|length)}}">
                <div class="text-item-inner">
                    <div class="text-item-edit-bar">
                        {% if loop.index == 1 %}
                        <button class="btn btn-default btn-circle btn-xl">
                            <i class="fa {{data.myWork.icon|default('fa-file-image-o')}} fa-1x"
                               aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </div>
                    <div class="text-item-text ql-container">
                        <div class="ql-editor">
                            {{ textItem.overview.text|raw }}
                        </div>
                        {% if textItem.detail.show %}
                        <a role="button" data-toggle="modal" data-target="#re-useable-modal"
                           data-content="{{textItem.detail.text}}">
                            mehr erfahren!
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>