<header id="landing" class="section-item">

    <div class="image-edit">
        <img class="img-landing" ng-src="{{ViewModel.model.landing.image}}" alt="">
        <div class="info">
            <file-upload ng-model="files"
                         on-success="onImageUploadSuccess(response, ViewModel.model.landing)"
                         on-progress="onImageUploadProgress(event)"
                         class="">Drop
                or select the File
            </file-upload>
            <uib-progressbar class="animate-hide progress" ng-show="fileUploadValue" value="fileUploadValue"
                             type="success"><b>{{fileUploadValue}}%</b>
            </uib-progressbar>
        </div>
    </div>

    <form name="form" class="container">
        <div class="row">

            <div ng-repeat="sectionItem in ViewModel.model.sections"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 class="col-sm-3 landing-item">
                <div class="landing-item-inner">

                    <div class="text-item-edit-bar">
                        <span class="animate-hide pull-right" ng-show="showEditButtons[$index]">
                            <button type="button" class="btn btn-default btn-circle btn-xl"
                                    ng-click="showToolBar[$index] = !showToolBar[$index]">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>

                    <div class="landing-item-icon-wrapper">
                        <section-button class="landing-item-icon-btn"
                                        icon-size="4"
                                        ng-model="sectionItem.icon"></section-button>
                    </div>

                    <rich-text-editor
                            ng-model="sectionItem.textLanding"
                            show-toolbar="{{showToolBar[$index]}}">
                    </rich-text-editor>
                </div>
            </div>

        </div>
    </form>
</header>