<header id="landing" class="section-item">

    <div class="image-edit">
        <img class="img-landing" ng-src="{{ViewModel.model.landing.image}}" alt="">
        <div class="info">
            <file-upload ng-model="files"
                         on-success="onImageUploadSuccess(response, ViewModel.model.landing)"
                         on-progress="onImageUploadProgress(event)"
                         class="">Drop
                or select the File
            </file-upload>
            <uib-progressbar class="animate-hide progress" ng-show="fileUploadValue" value="fileUploadValue"
                             type="success"><b>{{fileUploadValue}}%</b>
            </uib-progressbar>
        </div>
    </div>

    <form name="form" class="container">
        <div class="row">

            <div ng-repeat="sectionItem in ViewModel.model.sections" class="col-sm-3 landing-item">
                <div class="landing-item-inner">

                    <span uib-dropdown>
                        <div ng-model="modelItem.icon" class="landing-item-glyph" uib-dropdown-toggle>
                            <i ng-class="(sectionItem.icon || 'fa fa-file-image-o')+' fa-3x'"></i>
                        </div>

                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li ng-click="changeIcon(sectionItem, 'fa fa-arrow-up')" role="menuitem">
                                <a><i class="fa fa-arrow-up"></i></a>
                            </li>
                            <li ng-click="changeIcon(sectionItem, 'fa fa-user')" role="menuitem">
                                <a><i class="fa fa-user"></i></a>
                            </li>
                        </ul>
                    </span>

                    <div class="landing-item-text" contenteditable ng-model="sectionItem.textItemLanding"></div>
                </div>
            </div>

        </div>
    </form>
</header>