<footer ng-mouseenter="showAddButton=true"
        ng-mouseleave="showAddButton=false">
    <form name="form" class="container">
        <div class="row">
            <div ng-repeat="item in ViewModel.model.footer.items track by $index"
                 ng-mouseenter="showEditButtons[$index]=true"
                 ng-mouseleave="showEditButtons[$index]=false"
                 ng-blur="showEditButtons[$index]=true"
                 ng-class="{ 'col-md-12 col-sm-12'   : ViewModel.model.footer.items.length < 1,
                          'col-md-6 col-sm-12'   : ViewModel.model.footer.items.length === 1,
                          'col-md-4 col-sm-4'   : ViewModel.model.footer.items.length === 2,
                          'col-md-3 col-sm-6'   : ViewModel.model.footer.items.length === 3}">
                <div class="item-inner">
                    <a ng-form editable-form editable-text="item.caption" ng-dblclick="$form.$show()" blur="submit"
                       e-ng-model="item.caption" class="text-faded footer-links">{{item.caption}}</a>

                    <span class="item-edit-bar">
                        <button type="button" class="btn btn-danger btn-circle btn-sm"
                                ng-click="removeItem(ViewModel.model.footer.items, $index)"
                                ng-show="showEditButtons[$index]">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div ng-class="{ 'col-md-12 col-sm-12'  : ViewModel.model.footer.items.length < 1,
                          'col-md-6 col-sm-12'   : ViewModel.model.footer.items.length === 1,
                          'col-md-4 col-sm-4'   : ViewModel.model.footer.items.length === 2,
                          'col-md-3 col-sm-6'   : ViewModel.model.footer.items.length === 3}">
                <div>
                    <span class="item-add animate-hide"
                          ng-show="showAddButton">
                    <button type="button" class="btn btn-default btn-circle btn-sm"
                            ng-click="addItem(ViewModel.model.footer)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    </span>
                    <span class="footer-copyright">NadiaWagner 2016 &copy;</span>
                </div>
            </div>
        </div>
    </form>
</footer>